<p> Name: <%= @category["name"] %> </p>

<a href="<%=@category["id"]%>/edit"> Edit this category.</a>
<form action="/categories/<%= @category["id"] %>/destroy" method="post">
    <input type="submit" name="" value="Delete this category.">
</form>

