Welcome to the store administrative interface!
<ul>
  <li>Products</li>
  <ul>
  	<li><a href="/products"> View the product list. </a></li>
  	<li><a href="/products/new"> Create a new product. </a></li>
  </ul>
  <li>Categories</li>
  <ul>
  	<li><a href="/categories"> View the category list. </a></li>
  	<li><a href="/categories/new"> Create a new product. </a></li>
  </ul>
</ul>

